.drawer-detail {
  background: #ffffff;
  border: solid 1px rgba(0,0,0,0.05);
  box-shadow: 3px 3px 16px 0px rgba(0,0,0,0.6);

  position: fixed;
  z-index: 9;
  right: -480px;
  top: 0px;
  width: 450px;
  height: 100%;
  transition: all 0.25s linear;
  &.drawer-detail--open {
    right: 0px;
  }
  .drawer-detail--content {
    height: 100%;
    position: relative;
    .bar-icon {
      width: 30px;
      height: 30px;
      position: absolute;
      left: -30px;
      z-index: 6;
      //border: solid 1px rgba(0,0,0,0.06);
      border-radius: 15px 0px 0px 15px;
      cursor: pointer;
      box-shadow: 3px 3px 16px 0px rgba(0,0,0,0.1);
      display: flex;
      align-items: center;
      justify-content: center;
      //color: gray;
    }
    .row-detail {
      display: flex;
      border-bottom: solid 1px rgba(0,0,0,0.05);
      text-align: left;
      line-height: 1.3em;
      .label {
        width: 200px;
        padding: 8px 10px;
        font-weight: bold;
        font-size: 12px;
      }
      .content {
        padding: 8px 10px;
        text-align: justify;
        width: calc(100% - 300px);
      }
    }
  }
}
